:root{

    /*   Cores   */
    --primary-color: #3B3B48;
    --secondary-color: #707070;
    --white-color: rgb(255, 255, 255);
    --html-color: #EC6231;
    --css-color: #0078D7;
    --javascript-color: #FFE135;

    --gray-100: #E1E1E6;
    --gray-300 :#C4C4C4;
    --gray-400: #8D8D99;
    --gray-500: #7C7C8A;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    /*   Fontes   */
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Poppins', sans-serif;
}