@media only screen and (max-width: 992px) {
/************************** Main ****************************/

    main .hello{

        width: 100%;
        padding: 20px;
        margin-top: 150px;
        display: flex;
        justify-content: flex-start;

    }

    main .images{
        display: none;
    }

    section .card{

    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    }

    section .card .content .data{

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    }

    section .title{

        display: none;
    }

    section .skills{

        display: none;
        
    }

/************************** Header ****************************/

    header{
            display: inline-block;
            justify-content: center;
            align-items: center;
            z-index: 1;
    }

    header .nave{

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    header ul{

        display: none;
       
    }

    header .nave .toggle{
    
        display: flex;
    
    }
}

@media only screen and (max-width: 768px) {

/************************** Main ****************************/

    main .hello .buttons-hello{

        flex-direction: column;
        gap: 40px;

    }

    section{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section .card-skills{

        transform: translateY(30%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-around;
    }



}
/*************************************************************************/